@import url(https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Gochi Hand';
  --clr-header: rgb(51, 51, 51);
  --clr-paragraph: rgb(102, 102, 102);
}
body {
  margin: 3em 25vw;
  background-color: rgb(224, 224, 224);
}
img {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  box-shadow: 0 1px 5px 1px rgb(0, 0, 0, 0.2);
}
h1 {
  font-size: 1.7em;
  color: var(--clr-header);
}
p {
  font-size: 1.08em;
  color: var(--clr-paragraph);
}
.site {
  width: 1000px;
  background-color: rgb(255, 255, 255);
  border-radius: 1em;
}
.top {
  position: relative;
  padding: 1.5em;
}
.message {
  padding: 1em;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  position: absolute;
  bottom: 8%;
  right: 0%;
  background-color: white;
  margin-inline: 5%;
  border-radius: 0.5em;
  p {
    margin-inline: 1em;
  }
}
.bottom {
  padding: 2em 0 0 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: rgb(249, 249, 249);
  border-top: 1px solid lightgray;
  padding-bottom: 2em;
  border-radius: 0 0 1rem 1rem;
  p {
    line-height: 1;
  }
}
