@import url(https://fonts.googleapis.com/css2?family=Agbalumo&display=swap);
/* Agbalumo */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: Agbalumo;
}
body {
  margin: 3em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.site {
  background-color: rgb(213, 235, 234);
  width: 870px;
  border: 2px solid black;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  p {
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
    &::before,
    &::after {
      content: '';
      border-top: 2px solid black;
      width: 100%;
    }
  }
}
.main {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 2em 1em 4em 1em;
  width: 100%;
}
.first {
  text-align: center;
}
.inner {
  display: flex;
  gap: 2em;
  .left {
    border: 2px solid black;
    padding: 0.5em 0.7em 0.7em 0.7em;
    display: flex;
    flex-direction: column;

    max-width: 35%;
    font-size: 0.8em;
    img {
      width: 100%;
      margin-bottom: 2em;
    }
    p {
      font-size: 0.8em;
    }
  }
  .right {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;

    font-size: 1.2em;
  }
}
.main-footer {
  position: absolute;
  width: fit-content;
  background-color: black;
  color: white;
  bottom: 0;
  left: 0;
  padding: 0.1em 3em;
  font-size: 1.2em;
}
.footer {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 1em 0 1em 2em;

  p {
    color: rgba(0, 0, 0, 0.773);
  }

  span {
    font-weight: bold;
    color: black;
  }
}
