html {
  font-size: clamp(16px, 16px + 0.25vw, 16px + 1vw);
}
h2 {
  font-size: 1.2em;
}
p {
  border: 1px solid #ccc;
  padding: 0.7em;
  margin: 1em 0;
}
.p-block {
  display: block;
}
.p-inline {
  display: inline;
}

.p-inline-block {
  display: inline-block;
}
.inline > h2 {
  margin-bottom: 1em;
}
