@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i|PT+Serif:400,400i,700,700i&amp;display=swap);
/* PT Sans */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: 'PT Sans', sans-serif;
}
body {
  display: flex;
  flex-direction: column;
}
a {
  background-color: white;
  text-decoration: none;
  color: black;
  padding: 0.4em;
  border-radius: 0.3em;
  text-shadow: none;
  font-size: 0.9em;
}
.header {
  .inner {
    background-image: url('./images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding-bottom: 4em;
  }
  img {
    width: 75px;
  }
  .nav {
    text-shadow: 1px 1px 1px gray;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1em;
    padding-inline: 4em 6em;
    ul {
      display: flex;
      list-style-type: none;
      gap: 1em;
    }
  }
  .welcome {
    text-shadow: 1px 1px 1px gray;
    /* font-size: 1.1em; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    .paragraph {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
.catalog {
  background-color: rgb(95, 172, 193);
}
.inner-catalog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;

  .title {
    text-align: center;
    padding-top: 2em;
    p {
      font-size: 0.8em;
    }
  }
}
.articles {
  display: flex;
  max-width: 110ch;
  gap: 8em;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding-bottom: 2em;
}
.article {
  position: relative;
  display: flex;
  height: 30ch;
  box-shadow: 0 2px 14px 1px;
  .img-div {
    img {
      position: relative;

      width: 25ch;
      height: 30ch;
      object-fit: cover;
    }
  }
  .article-div {
    font-size: 0.86em;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2em;
    border-right: 5px solid rgb(95, 172, 193);
    p {
      text-align: left;
    }
  }
}
.white {
  .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6em;
    margin: 3em;
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 35vw;
      gap: 0.5em;
      color: rgb(103, 104, 107);
      p {
        font-size: 0.7em;
        text-align: center;
      }
    }
  }
  img {
    width: 9ch;
    height: 9ch;
    object-fit: cover;
  }
}
.catalog-2 {
  background-color: rgb(95, 172, 193);
  .inner-catalog {
  }
  p {
    font-size: 0.8em;
  }
  img {
    width: 30ch;
    /* height: 25ch; */
    object-fit: cover;
  }
}
.articles-div {
  display: flex;
  gap: 4em;
  padding-bottom: 3em;
  img {
    box-shadow: 0 2px 14px 1px;
  }
}
.about {
  display: flex;
  justify-content: center;
  .inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2em;
    padding-block: 2em;
    color: rgb(103, 104, 107);
    max-width: 55%;
    p {
      font-size: 0.7em;
    }
  }
}
.footer {
  font-size: 0.8em;
  background-color: rgb(45, 51, 59);
  color: silver;
  text-align: center;
  padding-block: 1em;
}
