h1,
h2,
h3,
h4,
h5,
h6 {
  padding-bottom: 0.5em;
}
:is(h1, h2, h3, h4, h5, h6):not(:first-child) {
  margin-top: 2em;
}
p {
  padding-block: 0.5em;
}

.site {
  max-width: 70ch;
  border: 1px solid gray;
  margin: 2em auto;
  padding: 1em 2em;
}
footer {
  margin-top: 1em;
}
