@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  font-size: clamp(11px, 11px + 1.25vw, 25px);
  line-height: 1.4;
}
time,
footer span {
  font-weight: bold;
}
footer p {
  font-style: italic;
}
.main :first-child {
  font-weight: bold;
}
