* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 3em;
}
a {
  text-decoration: none;
}
header {
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 0.3em;
  box-shadow: 0 0 0.3em 0 rgb(0, 0, 0, 0.2);
  padding: 0.5em;
}
.main-nav > ul {
  display: flex;
  gap: 0.5em;
}
.main-nav li,
.main-nav a {
  display: block;
}
.main-nav li {
  position: relative;
}
.main-nav li ul {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  flex-direction: column;
  gap: 0.3em;
  padding-top: 0.5em;
}
.main-nav li ul li ul {
  top: 0;
  left: 100%;
  padding-top: 0;
  padding-left: 0.5em;
}
.main-nav a {
  background-color: rgb(0, 0, 0, 0.05);
  padding: 0.5em 0.8em;
  border-radius: 0.3em;
  color: orange;
  background-color: #fff;
}
.main-nav a:hover,
.main-nav li:hover > a {
  background-color: orange;
  color: #fff;
}
.main-nav li:hover > ul {
  display: flex;
}
